---
http_interactions:
- request:
    method: get
    uri: https://www.jobscore.com/jobs/puppetlabs/feed.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"0054ca3f5d2344173f985bb56775eb0d"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<jobfeed>\n  <title>Puppet
        Labs Careers</title>\n  <company_url>http://www.puppetlabs.com</company_url>\n
        \ <last_updated type=\"datetime\">2013-07-26T15:44:57Z</last_updated>\n  <publisher>JobScore</publisher>\n
        \ <publisher_url>http://www.jobscore.com</publisher_url>\n  <company>Puppet
        Labs</company>\n  <company_code>puppetlabs</company_code>\n  <company_name>Puppet
        Labs</company_name>\n  <jobs type=\"array\">\n    <job>\n      <title>Professional
        Services Engineer (Boston)</title>\n      <country>US</country>\n      <last_updated_date
        type=\"datetime\">2013-05-14T21:57:31Z</last_updated_date>\n      <department>Client
        Services</department>\n      <postal_code>02203</postal_code>\n      <job_type>Full
        Time</job_type>\n      <opened_date type=\"datetime\">2013-05-06T21:19:54Z</opened_date>\n
        \     <city>Boston</city>\n      <atom_id>2013-05-06:/cYhvqeTPir4OK0iGakhP3Q</atom_id>\n
        \     <location>Boston, MA</location>\n      <company_code>puppetlabs</company_code>\n
        \     <state>MA</state>\n      <company_name>Puppet Labs</company_name>\n
        \     <id>cYhvqeTPir4OK0iGakhP3Q</id>\n      <apply_url>http://www.jobscore.com/job_seeker/jobs/apply_jump_page?job_id=cYhvqeTPir4OK0iGakhP3Q&amp;ref=rss&amp;sid=68</apply_url>\n
        \     <detail_url>http://www.jobscore.com/jobs/puppetlabs/professional-services-engineer-boston/cYhvqeTPir4OK0iGakhP3Q?ref=rss&amp;sid=68</detail_url>\n
        \     <description>&lt;p&gt;\r\n\t&lt;strong&gt;&lt;span style=&quot;font-size:
        16px;&quot;&gt;Professional Services Engineer (Boston)&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;\r\n&lt;div
        style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;\r\n\t&lt;p style=&quot;color:
        rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px;&quot;&gt;\r\n\t\t&lt;strong&gt;Department&lt;/strong&gt;:
        &amp;nbsp; Client Services&lt;br&gt;&lt;strong&gt;Reports to&lt;/strong&gt;:
        &amp;nbsp; &amp;nbsp; &amp;nbsp;Director of Professional Services&lt;br&gt;&lt;strong&gt;Location&lt;/strong&gt;:
        &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp;Boston, MA&lt;/p&gt;\r\n\t&lt;p
        style=&quot;color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif;
        font-size: 12px;&quot;&gt;\r\n\t\t&lt;strong&gt;&lt;span style=&quot;font-size:
        16px;&quot;&gt;Summary of Role&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;\r\n\t&lt;div
        style=&quot;color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif;
        background-color: transparent;&quot;&gt;\r\n\t\t&lt;b id=&quot;internal-source-marker_0.2957274483051151&quot;&gt;&lt;span
        style=&quot;font-size: 13px; font-family: Arial; color: rgb(0, 0, 0); background-color:
        transparent; font-weight: normal; text-decoration: none; vertical-align: baseline;
        white-space: pre-wrap;&quot;&gt;Do you have a passion for Open Source software?
        &amp;nbsp;Excited about what Puppet is doing and want to be a part of it?
        &amp;nbsp;Love utilizing your technical knowledge in a client-facing role?
        &amp;nbsp;&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size:
        13px; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;
        font-weight: normal; text-decoration: none; vertical-align: baseline; white-space:
        pre-wrap;&quot;&gt;Puppet Labs is hiring additional&lt;/span&gt;&lt;/b&gt;&lt;b&gt;&lt;span
        style=&quot;font-size: 13px; font-family: Arial; color: rgb(0, 0, 0); background-color:
        transparent; text-decoration: none; vertical-align: baseline; white-space:
        pre-wrap;&quot;&gt; Professional Services Engineers&lt;/span&gt;&lt;span style=&quot;font-size:
        13px; font-family: Arial; color: rgb(0[...]
