---
http_interactions:
- request:
    method: get
    uri: https://ch.tbe.taleo.net/CH06/ats/servlet/Rss?cws=40&org=CVENT2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<?xml-stylesheet type=\"text/xsl\"
        href=\"https://ch.tbe.taleo.net/CH06/ats/rss/taleorssfeed.xsl\" ?>\n<?xml-stylesheet
        type=\"text/css\" href=\"https://ch.tbe.taleo.net/CH06/ats/rss/taleorssfeed.css\"
        ?>\n<rss xmlns:taleo=\"urn:TBERss\" version=\"2.0\">\n<channel>\n<title>Cvent
        Job Feed</title>\n<link>http://ch.tbe.taleo.net/CH06/ats/careers/jobSearch.jsp?org=CVENT2&amp;cws=40</link>\n<language>en_US</language>\n<pubDate>7/24/13
        11:22 PM</pubDate>\n<ttl>60</ttl>\n<item>\n<title>Front End Web Developer</title>\n<link>http://ch.tbe.taleo.net/CH06/ats/careers/requisition.jsp?org=CVENT2&amp;cws=40&amp;rid=784</link>\n<description>
        \  \t   Who We Are         \t  CrowdCompass is a fast growing and successful
        mobile startup in SE Portland.&#160;We were recently acquired by Cvent &#8212;
        the world&#8217;s largest event technology company &#8212; and together, we
        make events, conferences, and tradeshows a lot more popular through the power
        of mobile ( read Press Release here ). Our mobile app motto: keep it simple,
        shareable, and social. You&#8217;ll find us always focused on th[...]
